.card {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}